language: node_js
node_js: "lts"

cache:
  directories:
  - node_modules

script:
  - npm run docs:build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: docs/.vuepress/dist
  on:
    branch: travis-ci-test